{% extends 'main.html' %}
{% load static %}
<link rel="stylesheet" href="{% static 'styleform.css' %}">

{% block title%} Iniciar Session {% endblock %}
{% block body%}
<section class="vh-100">
    <div class="container-fluid h-custom">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-md-9 col-lg-6 col-xl-5">
          <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp"
            class="img-fluid" alt="Sample image">
        </div>
        <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
          <form action="{% url "home" %}" method="POST">
          {% csrf_token %}
  
            <div class="divider d-flex align-items-center my-4">
              <p class="text-center fw-bold mx-5 mb-0">Login de Sesion</p>
            </div>
  
            <!-- Email input -->
            <div class="form-outline mb-4">
              <input type="email" id="form3Example3" name="correo" class="form-control form-control-lg"
                placeholder="Ingresa tu correo electronico" />
              <label class="form-label" for="form3Example3">Correo</label>
            </div>
  
            <!-- Password input -->
            <div class="form-outline mb-3">
              <input type="password" id="form3Example4" name="contraseña" class="form-control form-control-lg"
                placeholder="Ingresa tu contraseña" />
              <label class="form-label" for="form3Example4">Contraseña</label>
            </div>
  
            <div class="text-center text-lg-start mt-4 pt-2">
              <input type="submit" class="btn btn-primary btn-lg"
              style="padding-left: 2.5rem; padding-right: 2.5rem;" value="Ingresar">
              <p class="small fw-bold mt-2 pt-1 mb-0">No tienes una cuenta? <a href="{% url 'create_user' %}"
                  class="link-danger">Registrate</a></p>
            </div>
            
            </form>
            {% if error_messages%}
            <div class="btn btn-danger">
              {{ error_message }}
              {{ user }}
            {% endif %}
        </div>
        </div>
      </div>
    </div>
  </section>
  

{% endblock %}